pkgbase = dandelion
	pkgdesc = Write once, post to Mastodon, Bluesky, LinkedIn, Facebook pages and X
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/linuxundich/dandelion
	arch = any
	license = GPL-3.0-or-later
	checkdepends = appstream
	checkdepends = desktop-file-utils
	checkdepends = python-pytest
	makedepends = blueprint-compiler
	makedepends = meson
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libportal-gtk4
	depends = libsecret
	depends = libsoup3
	depends = libspelling
	depends = python
	depends = python-gobject
	optdepends = hunspell-de: German spell checking
	optdepends = hunspell-en_us: English spell checking
	source = dandelion-0.1.0.tar.gz::https://github.com/linuxundich/dandelion/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = d38caaf975eddb3b8431b8f926b48ccf97198e46b72de366271f53b240b3c76b

pkgname = dandelion
