pkgbase = dandelion
	pkgdesc = Write once, post to Mastodon, Bluesky, LinkedIn, Facebook pages and X
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/linuxundich/dandelion
	arch = any
	license = GPL-3.0-or-later
	checkdepends = appstream
	checkdepends = desktop-file-utils
	checkdepends = python-pytest
	makedepends = blueprint-compiler
	makedepends = meson
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libportal-gtk4
	depends = libsecret
	depends = libsoup3
	depends = libspelling
	depends = python
	depends = python-gobject
	optdepends = hunspell-de: German spell checking
	optdepends = hunspell-en_us: English spell checking
	source = dandelion-0.2.1.tar.gz::https://github.com/linuxundich/dandelion/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = 3b7705f17cdc02225c659d3a626abf4452f02546ec21cc9c97e1fdbe6b13e71f

pkgname = dandelion
